.menu {
    background-color: #da0c0c;  
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
    color: whitesmoke;
}

.menu ul li:hover{
    color: rgb(164, 216, 20);
}

body{
    background-color: rgb(65, 24, 230);
}
