.text{
    height: 50px;
    width: 100px;
}

.text button{
    height: 50px;
    width: 100px;
    font-size: larger;
    /* position: absolute; */
}

img{
    display: none;
}

.text:hover img {
    display: block;
  }